<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="#">Accounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Summary</a>
    </li>
</ul>
<div class="agGrid">
    <ag-grid-angular class="ag-theme-bootstrap firstGrid" 
        [rowData]="rowData" [columnDefs]="columnDefsFirst">
    </ag-grid-angular>
</div>
<div class="row">
    <div class="col-6">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Details</a>
            </li>
        </ul>
        <div class="agGrid">
            <ag-grid-angular class="ag-theme-bootstrap secondGrid" 
                [rowData]="rowData" [columnDefs]="columnDefsSecond">
            </ag-grid-angular>
        </div>
    </div>
    <div class="col">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Details</a>
            </li>
        </ul>
        <div class="agGrid">
            <ag-grid-angular class="ag-theme-bootstrap thirdGrid" 
                [rowData]="rowData" [columnDefs]="columnDefsThird">
            </ag-grid-angular>
        </div>
    </div>
</div>